@import "tailwindcss";

.signup-button {
  box-shadow: 2px 2px 0px;
  display: flex;
  flex-direction: row;
  padding: 3px 5px;
  border: solid 1px black;
  gap: 3px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  align-items: center;
}

.signup-button:hover {
  box-shadow: 3px 3px 2px #ee2b69;
  border: solid 1px #ee2b69;
}
